/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #014d30;
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(6, 177, 91, 0.1);
    border-radius: 8px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.title-container h1 {
    margin: 0;
}

.title-container .title-image {
    width: 50px; /* 调整图片的宽度 */
    height: auto;
    margin-left: 1rem; /* 使图片与标题之间有间距 */
}

h1, h2 {
    margin-bottom: 1rem;
    color: #333;
}

p {
    margin-bottom: 1.5rem;
}

footer {
    background: #0a0255;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
